@media (min-width: 1600px){
  .banner{
    .imgright{
      img.pantallab {
        position: absolute;
        right: 350px;
        top: 50px;
        max-width: 260px;
        width: 100%;
      }
      img.lupab {
        position: absolute;
        top: 140px;
        right: 180px;
        max-width: 300px;
      }
    }
  }
}

@media (max-width: 1200.98px){
  .bussines{
    margin: auto;
    #customers {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
@media (max-width: 991.98px) {
  .market {
    img {
      max-width: 200px;
    }
    .mkSwiper{
      .swiper-wrapper{
        .swiper-slide {
          grid-template-columns: 1fr;
          padding-bottom: 20px;
        }
      }
    }
    .market_center{
      text-align: center;
    }
  }
  .banner{
    padding: 200px 0 140px;
    overflow-x: hidden;
    .lupa-b {
      top: auto;
      bottom: 30px;
      max-width: 355px;
      width: 100%;
      right: -50px;
    }
    h1{
      font-size: 32px;
      line-height: 39px;
    }
    p{
      font-size: 16px;
      line-height: 22px;
    }
    .line{
      margin: 16px 0px 19px 0px;
    }
    .imgright {
      position: relative;
      right: -340px;
      padding-top: 80px;
      max-width: 500px;
      width: 100%;
      img.pantallab {
        position: absolute;
        right: 300px;
        top: 130px;
        max-width: 260px;
        width: 100%;
      }
      img.lupab {
        position: absolute;
        top: 220px;
        right: 140px;
        max-width: 300px;
      }
    }
  }
  .marketing{
    .cont-marketing{
      max-width: 100%;
    }
    &_grid {
      margin-top: 30px;
      padding-bottom: 50px;
      .sgrid{
        padding: 0;
        padding-top: 32px;
        display: flex;
        column-gap: 10px;
        .item {
          padding: 0px 17px 51px 17px;
          &_imgcircle{
            margin: 0;
          }
          p, p.h4{
            text-align: left;
          }
          .line{
            margin: 10px 0;
          }
        }
      }
    }
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      height: 20px;
    }
  }
  .success{
    img{
      margin-top: 32px;
    }
  }
  .bussines{
    margin: auto;
    #customers {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      .item{
        .card{
          .card-img-top{
            margin: 21px 20px 12px;
            height: auto;
            max-height: none;
            width: 124px;
          }
          .grupoa{
            width: 80px;
          }
          .grupob{
            width: 160px;
          }
          .grupoc{
            width: 65px;
          }
          .card-body{
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p, a{
              color: #4B4A5F;
            }
            a.card-link{
              font-weight: 500;
              font-size: 16px;
            }
            .footer{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 20px;
              img{
                max-width: 20px;
                height: auto;
              }
            }
          }
        }
        &:hover{
          .card-b{
            display: none;
          }
        }
      }
    }
    .btnMore .btn {
      margin-bottom: 24px;
    }
  }
  .text{
    padding-top: 50px;
    padding-bottom: 90px;
    p.display-4{
      font-size: 24px;
      line-height: 29px;
      text-align: start;
    }
    p.h5{
      font-size: 14px;
      line-height: 19px;
      text-align: start;
    }
    &_bricks{
      max-width: 160px;
      left: auto;
      bottom: 30%;
      right: -70px;
    }
  }
}
@media (max-width: 767.98px) {
  .banner{
    .lupa-b {
      bottom: 40px;
    }
    .imgright {
      right: -240px;
      padding-top: 80px;
    }
  }
  .success{
    p{
      text-align: center;
    }
    img{
      max-width: 230px;
      width: 100%;
    }
    &_conter{
      flex-direction: column;
      align-items: center;
      .item{
        margin-right: 0;
        margin-top: 24px;
        p.display-6{
          font-size: 32px;
          line-height: 26px;
        }
        .line{
          margin: 10px auto;
        }
      }
    }
    p.h5.ext{
      font-size: 16px;
      line-height: 22px;
      margin-top: 39px;
      width: 90%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .bussines{
    #customers {
      grid-template-columns: 1fr;
      gap: 15px;
      margin: auto;
      width: 60%;
    }
  }
}
@media (max-width: 560.98px) {
  .banner{
    .imgright {
      right: -180px;
      padding-top: 80px;
      img.pantallab {
        position: absolute;
        right: 350px;
        top: 145px;
        max-width: 230px;
        width: 100%;
      }
      img.lupab {
        position: absolute;
        top: 220px;
        right: 220px;
        max-width: 240px;
      }
    }
  }
  .bussines{
    #customers {
      width: 70%;
    }
  }
}
@media (max-width: 475.95px) {
  .banner{
    .imgright {
      img.pantallab {
        right: 300px;
      }
      img.lupab {
        top: 230px;
        right: 170px;
      }
    }
  }
}
@media (max-width: 425.98px) {
  .banner{
    padding-bottom: 150px;
    .lupa-b {
      max-width: 250px;
    }
    .imgright {
      right: -120px;
      padding-top: 40px;
      img.pantallab {
        position: absolute;
        right: 260px;
        top: 80px;
        max-width: 180px;
        width: 100%;
      }
      img.lupab {
        position: absolute;
        top: 140px;
        right: 140px;
        max-width: 220px;
      }
    }
  }
  .bussines{
    #customers {
      width: 90%;
    }
  }
}
@media (max-width: 378.98px) {
  .banner .imgright {
    right: -100px;
    padding-top: 80px;
    img.pantallab {
      right: 210px;
      top: 130px;
      max-width: 150px;
    }
    img.lupab {
      top: 180px;
      right: 100px;
      max-width: 195px;
    }
  }

}
