/*---------------------------Baner-------------------------------*/
.banner{
  background: linear-gradient(90deg, #966BF6 13.14%, #6394F6 71.08%, #5DD7F6 100%);
  padding: 300px 0 200px;
  overflow-x: hidden;
  margin-top: -90px ;
  h1{
    font-size: 54px;
    line-height: 65px;
    color: $primary;
  }
  .line{
    border: 4px solid $primary;
    margin: 30px 0px 21px 0px;
  }
  p.h5{
    font-weight: 400;
    line-height: 24px;
    color: $white;
  }
  a.btn{
    margin-top: 26px;
  }
  .lupa-b {
    position: absolute;
    right: -30px;
    top: 235px;
    max-width: 486px;
    width: 100%;
  }
}
/*---------------------------Market-------------------------------*/
.market{
  padding: 100px 0;
  min-height: 1272px;
  .h1{
    line-height: 48px;
    margin-bottom: 21px;
    display: block;
  }
  .h5{
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
  }
  img{
    max-width: 356px;
    width: 100%;
  }
  &_col{
    position: relative;
    .icon{
      position: absolute;
      top: 30px;
    }
  }
  &_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .scrollItem {
    position: relative;
    visibility: hidden;
    .containerAnimated{
      overflow: hidden;
      position: relative;
    }
  }
  .scrollItem.show {
    visibility: visible;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50.8%, -50%);
  }
}
/*---------------------------Marketing-------------------------------*/
.marketing{
  &_b{
    margin-top: 60px;
  }
  .p.h5{
    margin-top: 21px;
  }
  &_grid{
    margin-top: 79px;
    .sgrid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 40px;
      row-gap: 60px;
      align-items: start;
    }
    .item{
      background: $white;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
      border-radius: 16px;
      padding: 0px 42px 16px 42px;
      p{
        font-weight: 400;
        line-height: 22px;
        text-align: center;
      }
      p.h4{
        font-weight: 600;
        line-height: 29px;
        text-align: center;
      }
      .line{
        margin: 17px auto;
        left: 0;
        right: 0;
      }
      &_imgcircle {
        box-shadow: 0px 0px 16px rgb(0 0 0 / 8%);
        transform: translateY(-30px);
        background-color: $white;
        border-radius: 50px;
        width: 70px;
        height: 70px;
        left: 0;
        right: 0;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 40px;
        }
      }
    }
  }
  .elipse{
    max-width: 300px;
    width: 100%;
    position: absolute;
    left: -50px;
    top: 50px;
  }
  .accordion-item{
    align-items: flex-start;
    border: none;
    .accordion-button{
      &:focus {
        border: none;
        box-shadow: none;
      }
      &::after{
        margin: auto;
      }
      &:not(.collapsed){
        background-color: $white;
        box-shadow: none;
        left: 0;
        right: 0;
        margin: auto;
        padding-bottom: 0;
      }
    }
    .accordion-body{
      text-align: center;
    }
  }
  &_vector{
    background: $radialgradient;
    width: 622px;
    height: 622px;
    position: absolute;
    left: -311px;
    bottom: 10%;
    z-index: -1;
    opacity: 0.25;
  }
}
/*-----------------------------Band-------------------------------*/
.container-band{
  background: $lineargradient;
  margin: 100px 0 0px;
  padding: 17px 0;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  .list{
    display: flex;
    align-items: top;
    -webkit-animation: loop 5s infinite linear;
    animation: loop 5s infinite linear;
  }
  .item-txt{
    color: $white;
    margin-bottom: 0;
    margin-right: 52px;
    img{
      margin-left: 5px;
    }
  }
}
@keyframes loop {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/*---------------------------Succes-------------------------------*/
.success{
  padding-top: 78px;
  p.h1{
    font-weight: 700;
    line-height: 48px;
  }
  p.h5{
    font-weight: 400;
    line-height: 26px;
  }
  img{
    max-width: 305px;
    width: 100%;;
  }
  &_conter{
    display: flex;
    flex-direction: row;
    .item{
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      margin-right: 80px;
      p.h2{
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 5px;
      }
      p.h5{
        font-weight: 700;
        line-height: 24px;
        color: $primary;
        margin-bottom: 0;
      }
      .line{
        margin: 10px 0;
      }
    }
  }
  p.h5.ext{
    font-weight: 400;
    line-height: 26px;
    margin-top: 37px;
  }
}
/*---------------------------Bussines-------------------------------*/
.bussines{
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 25px;
  #customers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .item{
      position: relative;
      display: none;
      .card{
        background: $white;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
        margin: auto;
        height: 190px;
        img{
          width: 150px;
          margin: auto;
          height: 70px;
        }
      }
      .card-b{
        position: absolute;
        display: flex;
        top: 0;
        background-color: #1d154fcc;
        border-radius: 16px;
        height: 190px;
        opacity: 0;
        width: 100%;
        padding: 20px 20px;
        flex-direction: column;
        justify-content: space-between;
        transition: opacity ease-in-out 200ms;
        &_header{
          p{
            font-size: 18px;
            font-weight: 500;
          }
        }
        &_footer{
          a{
            font-size: 18px;
            font-weight: 500;
          }
        }
        .line{
          margin-bottom: 10px;
        }
        p, a{
          color: $white;
        }
        .footer{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }
      &:hover{
        .card-b{
          opacity: 1;
        }
      }
    }
  }
  .btnMore{
    text-align: center;
    .btn{
      background: $degraded;
      padding: 17px 22px 17px 26px;
      gap: 4px;
      img{
        margin-left: 5px;
      }
    }
  }
}
/*---------------------------Text-------------------------------*/
.text{
  padding-top: 107px;
  padding-bottom: 147px;
  p.display-4{
    line-height: 68px;
    text-align: center;
    span{
      background: $lineargradient;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  p.h5{
    font-weight: 600;
    line-height: 26px;
    color: $primary;
    text-align: center;
  }
  &_bricks{
    position: absolute;
    max-width: 220px;
    width: 100%;
    left: 0;
    bottom: 20%;
    opacity: 0.1;
  }
}
