@media (min-width: 1440px) {
  .banner{
    padding: 150px 0;
    .lupa-b {
      top: 135px;
    }
  }
  .bussines{
    #lightgallery {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }
  }
}
@media (max-width: 991.98px) {
  .banner{
    padding-bottom: 440px;
    .lupa-b {
      top: auto;
      bottom: 30px;
      max-width: 355px;
      width: 100%;
      right: -30px;
    }
    h1{
      font-size: 32px;
      line-height: 39px;
    }
    p{
      font-size: 16px;
      line-height: 22px;
    }
    .line{
      margin: 16px 0px 19px 0px;
    }
  }
  .success{
    img{
      margin-top: 32px;
    }
  }
  .bussines{
    margin: auto;
    #lightgallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }
}
@media (max-width: 767.98px) {
  .banner{
    padding-bottom: 340px;
    .lupa-b {
      bottom: 40px;
    }
  }
  .marketing{
    .cont-marketing{
      max-width: 100%;
    }
    &_grid {
      margin-top: 30px;
      padding-bottom: 50px;
      .sgrid{
        padding: 0;
        padding-top: 32px;
        display: flex;
        column-gap: 10px;
        .item {
          padding: 0px 17px 51px 17px;
          &_imgcircle{
            margin: 0;
          }
          p, p.h4{
            text-align: left;
          }
          .line{
            margin: 10px 0;
          }

        }
      }
    }
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      top: 61%;
      height: 50px;
    }
  }
  .success{
    p{
      text-align: center;
    }
    img{
      max-width: 230px;
      width: 100%;
    }
    &_conter{
      flex-direction: column;
      .item{
        margin-right: 0;
        margin-top: 24px;
        p.display-6{
          font-size: 32px;
          line-height: 26px;
        }
      }
    }
    p.h5.ext{
      font-size: 16px;
      line-height: 22px;
      margin-top: 39px;
    }
  }
}

@media (max-width: 425.98px) {
  .banner{
    padding-bottom: 270px;
    .lupa-b {
      max-width: 250px;
    }
  }
}
