.intelligence{
  background: #FAFAFF;
  padding-top: 92px;
  .h1{
    line-height: 48px;
    color: $primary;
    margin-bottom: 21px;
  }
  .h5{
    font-weight: 400;
    line-height: 26px;
    color: #4B4A5F;
    margin-bottom: 20px;
  }
  .circle, .variable{
    max-width: 356px;
    width: 100%;
  }
  &_col{
    position: relative;
    .variable{
      position: absolute;
      top: 30px;
    }
  }
  &_center{
    top: 0;
    bottom: 0;
    margin: auto;
    a {
      margin-top: 24px;
      img{
        max-width: 38px;
      }
    }
  }
}

.team{
  background: #FAFAFF;
  p.h1{
    line-height: 48px;
    text-align: center;
    color: #1D1643;
  }
  p.h5{
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #4B4A5F;
    margin-top: 24px;
    margin-bottom: 67px;
  }
  &_grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;
    left: 0;
    right: 0;
    margin: 0px auto;
    text-align: center;
    .item{
      position: relative;
      text-align: center;
      left: 0;
      right: 0;
      margin: 0 auto;
      &_text{
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        background-color: rgba(29,21,79,.8);
        border-radius: 100%;
        height: 200px;
        width: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .line{
          background: linear-gradient(90deg, #966BF6 13.14%, #6394F6 71.08%, #5DD7F6 100%);
          height: 4px;
          width: 36px;
          margin-top: 10px;
        }
        p{
          color: white;
          margin-bottom: 0;
        }
      }
      &:hover{
        .item_text{
          display: flex;
        }
      }
    }
  }
  &_vector{
    background: radial-gradient(43.2% 43.2% at 50% 50%, #6399FB 0%, #6399fbb2 32.1%, #976af000 97.4%);
    width: 622px;
    height: 622px;
    position: absolute;
    right: -311px;
    top: 10%;
    z-index: -1;
    opacity: 0.25;
  }
}
@media (max-width: 1200.98px){
  .team{
    &_grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media (max-width: 991.98px){
  .intelligence{
    .h1{
      padding-top: 35px;
    }
    .h5{
      padding-bottom: 35px;
    }
    &_center {
      text-align: center;
    }
    .btn.btn-secondary{
      background: linear-gradient(90deg, #966BF6 0%, #6394F6 66.7%, #5DD7F6 100%);
      color: white;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .team{
    &_grid{
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: 767.98px){
  .team{
    &_grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 425.98px){
  .team{
    &_grid{
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
