.contact{
  padding-bottom: 104px;
  padding-top: 169px;
  p.h1{
    line-height: 48px;
    margin-bottom: 24px;
  }
  p.h5{
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 35px;
  }
  #contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 30px;
    background: $degraded;
    left: 0;
    right: 0;
    border-radius: 16px;
    margin: auto;
  }
  &_form {
    width: 100%;
  }
  &_form_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 16px 0px;
    gap: 16px;
    .form-floating {
      width: 100%;
      .form-control{
        border-radius: 8px;
      }
      label.form-label {
        color: #565656;
      }
      label {
        color: #565656;
      }
    }
  }
  .btn{
    margin-top: 16px;
    background: $white;
    color: $primary;
    width: 135px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    &:hover{
      background-color: $primary;
      color: $white;
      box-shadow: none;
      img{
        filter: invert(1);
      }
    }
  }
  #formSending{
    p.strong {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      span {
        background: $white;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        margin: 0 3px;
        animation: sending 1s infinite;
        &:first-child{
          margin-left: 6px;
        }
        &:nth-child(2){
          animation-delay: 200ms;
        }
        &:last-child{
          animation-delay: 300ms;
        }
      }
    }
  }
  #workUsSending{
    p.strong {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      span {
        background: $white;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        margin: 0 3px;
        animation: sending 1s infinite;
        &:first-child{
          margin-left: 6px;
        }
        &:nth-child(2){
          animation-delay: 200ms;
        }
        &:last-child{
          animation-delay: 300ms;
        }
      }
    }
  }
}
@media (max-width: 767.98px){
  .contact{
    padding-top: 122px;
    padding-bottom: 45px;
    #contactForm {
      padding: 24px 13px;
    }
  }

}
@media (max-width: 767.98px){
  .contact{
    &_form_item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
}
