:root{
  font-size: 16px;
}

body{
  background: $lightestgrey;
  opacity: 0;
  overflow-x: hidden;
}

p.display-6, p.display-5, p.display-4, p.h1, h1, p.h2, h2, p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6 {
  font-family: Inter;
  color: $primary;
  font-style: normal;
}
p, p.h5, h5, p.h6, h6{
  color: $text;
}

a,p,div,input,button,textarea{
  font-family: Inter;
  color: $text;
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}

.btn.btn-primary {
  background-color: $white;
  padding: 17px 22px 17px 26px;
  gap: 4px;
  border-radius: 80px;
  border: none;
  color: $primary;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  box-shadow: 0px 4px 4px #00000040;
}
.btn.btn-secondary{
  padding: 17px 22px 17px 26px;
  gap: 4px;
  background: $degraded;
  border-radius: 80px;
  border: none;
  color: $white;
}
.btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus{
  box-shadow: 0px 4px 4px #00000040;
}

.line{
  background: $lineargradient;
  height: 4px;
  width: 36px;
  border-radius: 5px;
}

div#btnGoToUp {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 15px 19px;
  border-radius: 100%;
  z-index: 100;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 10%);
  background: $white;
  cursor: pointer;
  overflow: hidden;
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $degraded;
    opacity: 0;
    transition: all ease-in-out 150ms;
  }
  img{
    position: relative;
    z-index: 1;
    transition: all ease-in-out 150ms;
  }
  &:hover{
    img{
      filter: brightness(0) invert(1);
    }
    &::before{
      opacity: 1;
    }
  }

}

@media (max-width: 567px) {
  h5,p.h5{
    font-size: 1rem;
  }

}
