:root{
  font-size: 16px;
}

body{
  background: $lightestgrey;
  opacity: 0;
  overflow-x: hidden;
}

p.display-6, p.display-5, p.display-4, p.h1, h1, p.h2, h2, p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6 {
  font-family: Inter;
  color: $primary;
  font-style: normal;
}
p, p.h5, h5, p.h6, h6{
  color: $text;
}

a,p,div,input,button,textarea{
  font-family: Inter;
  color: $text;
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}

.btn.btn-primary {
  background-color: $white;
  padding: 17px 22px 17px 26px;
  gap: 4px;
  border-radius: 80px;
  border: none;
  color: $primary;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  box-shadow: 0px 4px 4px #00000040;
}
.btn.btn-secondary{
  padding: 17px 22px 17px 26px;
  gap: 4px;
  background: $degraded;
  border-radius: 80px;
  border: none;
  color: $white;
}
.btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus{
  box-shadow: 0px 4px 4px #00000040;
}

.line{
  background: $lineargradient;
  height: 4px;
  width: 36px;
}

@media (max-width: 991.98px) {
  // .btn.btn-secondary{
  //   background: $white;
  //   color: $primary;
  //   font-size: 16px;
  //   font-weight: 500;
  // }
}
div#btnGoToUp {
  position: fixed;
  bottom: 2%;
  right: 25px;
  width: auto;
  padding: 0;
  z-index: 10;
  a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 10%);
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
    .flecha-prin{
      display: block;
    }
    .flecha-alt{
      display: none;
    }
  }
   a:focus {
    outline: none;
  }
}
div#btnGoToUp a:hover {
  background: $degraded;
  .flecha-prin{
    display: none;
  }
  .flecha-alt{
    display: block;
  }
}
