.footer-f{
  background-color: $primary;
  padding: 56px 0 75px 0;
  .container{
    position: relative;
  }
  p, a{
    color: $white;
  }
  p.h1{
    line-height: 48px;
  }
  .line{
    width: 36px;
    margin: 13px 0 40px;
  }
  &_contacto{
    display: flex;
    flex-direction: row;
    column-gap: 33px;
    a {
      img {
        max-width: 37px;
        width: 100%;
        margin-right: 15px;
      }
    }
  }
  &_socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    img{
      width: 169px;
    }

    &_redes{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      column-gap: 16px;
    }
  }
  &_text{
    margin-top: 69px;
    p{
      font-weight: 400;
      line-height: 22px;
    }
  }
  &_logos{
    display: flex;
    flex-direction: row;
    column-gap: 39px;
    align-items: center;
    pointer-events: none;
    a{
      .logo-icons{
        max-width: 160px;
        width: 100%;
      }
      .icons-yapo{
        max-width: 120px;
        width: 100%;
      }
    }
  }
}

/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {
  .footer-f_contacto a img {
    margin-right: 5px;
  }
}

@media (max-width: 991.98px) {
  .footer-f{
    &_contacto{
      flex-direction: column;
      row-gap: 16px;
    }
    &_socials {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 31px;
    }
    &_logos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 21px;
      row-gap: 12px;
    }
    &_contacto{
      a{
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .footer-f_text {
    margin-top: 64px;
}
}

@media (max-width: 575.98px) {}
