header {
  background: transparent;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  transition: all ease-in-out .3s;
  .logo {
    margin-top: -6px;
    height: 50px;
    filter: brightness(0) invert(1);
    transition: all ease-in-out .3s;
  }
  .container.header {
    padding-top: 0px;
    transition: all ease-in-out .3s;
  }
  ul.navbar-nav {
    column-gap: 40px;
    row-gap: 10px;
    align-items: center;
    a.nav-link {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: $primary;
      &.active{
        color: $purple;
      }
      &:hover {
        color: $white;
      }
    }
    a.letstalk {
      padding: 17px 28px;
      width: 146px;
      height: 50px;
      background: $white;
      border-radius: 80px;
      transition: all ease-in-out .3s;
      text-transform: uppercase;
      &:hover {
        background-color: $primary;
        color: white;
      }
    }
  }
  &.nav-down{
    background: $white;
    .container.header {
      padding-top: 0px;
    }
    .logo{
      filter: none;
    }
    ul.navbar-nav{
      a.nav-link {
        &:hover {
          color: $purple;
        }
      }
      a.letstalk{
        background: $lineargradient;
        color: $white;
        &:hover {
          box-shadow: 0px 4px 4px #00000040;
          color: white;
        }
      }
    }
    .header_mobile{
        span {
          background: $primary;
        }
    }
  }
  .header {
    &_mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
        border: none;
      }
      span {
        width: 30px;
        height: 2px;
        margin: 3px 0;
        background: $white;
        border-radius: 2px;
        transition: all ease-in-out .3s;
      }
      &_show{
        span:nth-child(1) {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: rotate(45deg) translate(-6px, -6px);
        }
      }
    }
  }
  &.header-alt {
    background: $white;
    .container.header {
      padding-top: 0px;
    }
    .logo{
      filter: none;
    }
    ul.navbar-nav {
      a.nav-link {
        &:hover {
          color: $purple;
        }
      }
      a.letstalk{
        background: $lineargradient;
        color: $white;
        &:hover {
          box-shadow: 0px 4px 4px #00000040;
          color: white;
        }
      }
    }
    .header_mobile{
      span {
        background: $primary;
      }
    }
  }
}


/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  header {
    .navbar {
      align-items: center;
      padding: 0.5rem 0;
      &-toggler {
        border: none;
        &:hover {
          border: none;
        }
      }
      &-collapse {
        background: $white;
        margin: 0;
        position: fixed;
        top: 62.8px;
        left: 0;
        width: 100%;
        margin-top: -6px;
        padding: 20px 0;
        z-index: 110;
      }
    }
    #collapse_backdrop{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: none;
      z-index: 100;
      &.show{
        display: block;
      }
    }
  }
  header.nav-down ul.navbar-nav a.letstalk {
    background: none;
    color: $primary;
    text-transform: none;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  header .logo {
    height: 35px;
  }
}
