header {
  background-color: transparent;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  transition: all ease-in-out .3s;
  .logo {
    margin-top: -6px;
    filter: brightness(0) invert(1);
    transition: all ease-in-out .3s;
  }
  .container.header {
    padding-top: 10px;
  }
  ul.navbar-nav {
    column-gap: 40px;
    row-gap: 10px;
    align-items: center;
    a.nav-link {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: $primary;
      &:hover {
        box-sizing: border-box;
        text-shadow: 0px 4px 4px #00000040;
      }
    }
    a.letstalk {
      padding: 17px 28px;
      width: 146px;
      height: 50px;
      background: $white;
      border-radius: 80px;
      transition: all ease-in-out .3s;
      &:hover {
        box-shadow: 0px 4px 4px #00000040;
      }
    }
  }
  &.nav-down{
    background: #fff;
    .logo{
      filter: none;
    }
    ul.navbar-nav a.letstalk{
      background: linear-gradient(45deg, #6389EB 0, #8B6BEB 100%);
      color: white;
    }
  }
  .header {
    &_mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
        border: none;
      }
      span {
        width: 30px;
        height: 2px;
        margin: 3px 0;
        background: $white;
        border-radius: 2px;
      }
    }
  }

}

header.header-alt {
  .logo {
    display: none;
  }
  .logo-alt {
    display: block;
  }
  .letstalk{
    display: none;
  }
  .letstalk-alt{
    display: block;
  }
}

/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  header {
    .navbar {
      align-items: center;
      padding: 0.5rem 0;
      &-toggler {
        border: none;
        &:hover {
          border: none;
        }
      }
      &-collapse {
        background: $lineargradient;
        margin: 0;
        position: fixed;
        top: 62.8px;
        left: 0;
        width: 100%;
        margin-top: 40px;
        padding: 20px 0;
      }
    }
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
