header{
  background: transparent;
  height: 90px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2509803922));
  position: relative;
  z-index: 100;
  width: 100%;
  top: 0;
  .container.header {
    padding-top: 10px;
  }
  ul.navbar-nav{
    column-gap: 40px;
    row-gap: 10px;
    align-items: center;
    a.nav-link{
      /* Botón texto */
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      /* Primarios/azul oscuro */
      color: $primary;
      &:hover{
        /* Qué hacemos */
        box-sizing: border-box;
        /* Primarios/azul oscuro */
        text-shadow: 0px 4px 4px #00000040;
      }
    }
    a.letstalk{
      /* Auto layout */
        padding: 17px 28px;
        width: 146px;
        height: 50px;
        /* Neutros/Blanco */
        background: #FFFFFF;
        border-radius: 80px;
        &:hover{
          box-shadow: 0px 4px 4px #00000040;
        }
    }
  }
  .header {
    &_mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
        border: none;
      }
      span {
        width: 30px;
        height: 2px;
        margin: 3px 0;
        background: #FFFFFF;
        border-radius: 2px;
      }
    }
  }

}

/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
  header {
    .navbar {
      align-items: center;
      padding: 0.5rem 0;
      &-toggler {
        border: none;
        &:hover{
          border: none;
        }
      }
      &-collapse {
        background: linear-gradient(90deg, #966BF6 13.14%, #6394F6 71.08%, #5DD7F6 100%);
        margin: 0;
        position: fixed;
        top: 62.8px;
        left: 0;
        width: 100%;
        margin-top: 25px;
        padding: 20px 0;
      }
    }
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
