<div class="footer-f">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="h1 fw-bold">Contactanos</p>
        <div class="line"></div>
      </div>
      <div class="col-lg-8 col-12 footer-f_contacto">
        <a href="#" target="_blank">
          <img src="assets/icons/whatsapp.svg" alt="" />
          099 05 22 37
        </a>
        <a href="mailto:hola@agenciabricks.com" target="_blank">
          <img src="assets/icons/mail.svg" alt="" />
          hola@agenciabricks.com
        </a>
      </div>
      <div class="col-lg-4 footer-f_socials">
        <a href="#">
          <img src="assets/icons/bricks-footer.svg" alt="" class="d-lg-none" />
        </a>
        <!-- <div class="footer-f_socials_redes">
          <a href="#"><img src="assets/icons/facebook.svg" alt="" /></a>
          <a href="#"><img src="assets/icons/linkedin.svg" alt="" /></a>
          <a href="#"><img src="assets/icons/instagram.svg" alt="" /></a>
          <a href="#"><img src="assets/icons/youtube.svg" alt="" /></a>
        </div> -->
      </div>
      <div class="col-12 footer-f_text">
        <p>
          Somos partners del grupo de portales inmobiliarios más grande de
          Latinoamérica.
        </p>
      </div>
      <div class="col-lg-8 col-12 footer-f_logos">
        <a href="#"><img src="assets/icons/infocasas.svg" alt="" /></a>
        <a href="#"><img src="assets/icons/encuentra24.png" alt="" /></a>
        <a href="#"><img src="assets/icons/fincaraiz.svg" alt="" /></a>
        <a href="#"><img src="assets/icons/yapo.png" alt="" /></a>
      </div>
      <div class="col-lg-4 footer-f_socials d-none d-lg-flex">
        <a href="#"><img src="assets/icons/bricks-footer.svg" alt="" /></a>
      </div>
    </div>
  </div>
</div>
