<div class="container header">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
          <img src="assets/icons/logo-color.svg" alt="bricks" class="logo" />
        </a>
        <button
          class="navbar-toggler header_mobile"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          onclick="headerAltMobile(this)"
        >
          <span></span><span></span><span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link linkTo" href="/#market">Qué hacemos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link linkTo" href="/#marketing">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link linkTo" href="/#success">Casos de éxito</a>
            </li>
            <li class="nav-item">
              <a class="nav-link linkTo" href="#">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link linkTo letstalk" href="contact.html"
                >Hablemos</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div id="collapse_backdrop" onclick="triggerBtnNMobile()"></div>
</div>
